RewriteEngine On

# Ne pas réécrire si le chemin pointe vers un fichier ou un dossier existant
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger tout le reste vers index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
